@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");

// Fonts
$font-main: "Roboto", sans-serif;
$font-logo: "Lora", serif;

// Font sizes
$font-size-main: 1rem;
$font-size-logo: 1.5rem;

// Colours
$colour-primary: #8bbb60;
$colour-secondary: #01baef;
$colour-font: #392f5a;
$colour-accent: #f56d2b;

// Paddings, Margins, and Gaps
$padding-navbar: 1rem;
$padding-footer: 1rem;
$padding-email: 0.3rem;
$margin-nav-item: 5vw;
