// Fonts

// Font sizes

// Colours
$colour-primary: #baff7e;
$colour-secondary: #01baef;
$colour-font: #392f5a;
$colour-accent: #ff8811;

// Paddings, Margins, and Gaps
$padding-footer: 1rem;
$padding-email: 0.3rem;
