@use "../../assets/scss/variables" as *;

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: $padding-navbar 0;

  background-color: $colour-primary;
  .navbar__logo {
    text-align: center;
    font-family: $font-logo;
  }
}
